<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/secretWords.js"></script>
    <script src="/assets/js/nearest1k.js"></script>
    <title>Semantle Türkçe: Yakın Sözcükler</title>
</head>
<body>
<div id="warning" style="display:none; ">
    <div style="border:thin solid black; background-color: #ffdddd">
        Uyarı: Yakın sözcükleri görüntülemek bugünkü Semantle oyununun keyfini azaltabilir!
        Devam etmek istiyorsanız bu uyarıya tıklayabilirsiniz.
    </div>
</div>
<div id="nearest" style="display:none;">
    <b id="word">{{word}}</b> sözcüğüne en yakın sözcükler:
    <table>
        <tr>
            <th>Yakınlık (yüksek olması daha yakın olduğu anlamına gelir)</th>
            <th>Sözcük</th>
            <th>Benzerlik</th>
        </tr>
        {% for word in words %}
        <tr>
            <td> {{word['percentile']}}</td>
            <td> {{word.neighbor}}</td>
            <td> {{word.similarity}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<br/>
<a href="/">Semantle Türkçe'ye geri dön</a>
</body>
</html>
